@using Agency.ViewModels.Account
@model RegisterVM

<div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <div class="brand-logo">
                <img src="../../images/logo.svg" alt="logo">
            </div>
            <h4>Hello! let's get started</h4>
            <h6 class="font-weight-light">Login</h6>
            <form class="pt-3">
                <div class="text-danger" asp-validation-summary="ModelOnly">
                </div>
        